<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cross Platform</title>
</head>
<body style="background-color:powderblue;">
<h2>Cross Platform</h2>
<form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Enter your server:</td>
            <td><input type="text" name="server"/></td>
        </tr>
        <tr>
            <td>Enter your port:</td>
            <td><input type="text" name="port"/></td>
        </tr>
        <tr>
            <td>Enter your username:</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>Enter your password:</td>
            <td><input type="text" name="password"/></td>
        </tr>
        <tr>
            <td>Enter your date:</td>
            <td><input type="text" name="date"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
